.navContainer{
    height: 64px;
    background-color: var(--darkPrimary);
    display: flex;
    justify-content: space-around;
}

.navLink{
    padding: 0px 16px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--text);
    text-decoration: none;
}
.navLink:hover{
    background-color: rgba(255, 255, 255, 0.062);
}

#logo{
    padding: 8px 64px;
    height: 100%;
    box-sizing: border-box;
    transition: 200ms;
}

#logo:hover{
    height: 140%;
    padding-left: 54px;
}

.navMenu{
    height: 100%;
    padding-right: 64px;
    display: flex;
    justify-content: flex-end;
    transition: 500ms;
}
.navMenuHide{
    transform: translateX(0%);
}

.navResponsive{
    text-align: end;
    z-index: 100;
    flex-grow: 1;
}
.hamburger{
    display: none;
}

@media screen and (max-width: 768px) {
    .hamburger{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 24px;
        width: 100%;
        float: right;
    }
    .navMenu{
        flex-direction: column;
        background-color: #11161f;
        padding-right: 0px;
        height: 200px;
        width: 74%;
        float: right;
    }
    .navMenuHide{
        transform: translateX(100%);
    }
    .navLink{
        flex-grow: 1;
        padding-left: 46px;
    }
}